@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root,
.App {
  height: 100%;
}
@font-face{
  font-family:"BoldNext";
  src: local("BoldNext"),url("./fonts/AvenirNextLTPro-Bold.otf") format("truetype");
}
@font-face{
  font-family:"RegularNext";
  src: local("RegularNext"),url("./fonts/AvenirNextLTPro-Regular.otf") format("truetype");
}

